/* 
  # Front-end Style Guide
## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
*/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root{
    /*Primary*/
--Dark_cyan: hsl(185, 75%, 39%);
--Very_dark_desaturated_blue: hsl(229, 23%, 23%);
--Dark_grayish_blue: hsl(227, 10%, 46%);
/*Neutral*/
--Dark_gray: hsl(0, 0%, 59%);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size:18px;
    display:flex;
    align-items: center;
    min-height: 100vh;
    background-image: url("./images/bg-pattern-top.svg"),url("./images/bg-pattern-bottom.svg");
    background-repeat: no-repeat,no-repeat;
    background-color: var(--Dark_cyan);
    background-position: right 48vw bottom 40vh, left 45vw top 44vh;
}
.cont{
    margin:0 auto;
    text-align:center;
}
.container{
    max-width:420px;
    margin:16px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
}
.content img{
    border-radius: 50%;
    border:solid 5px white;
    margin-top: -50px;
}
.content h2{
    color:var(--Very_dark_desaturated_blue);
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}
.content span,.content .description{
    color:var(--Dark_gray);
    font-weight: 400;
}
.description{
    margin-bottom: 30px;
    font-size:12px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding:30px;
    border-top:solid 1px var(--Dark_grayish_blue);
    margin-top:30px;
}
.num{
    font-weight: 700;
    font-size:18px;
    color:black;
    margin-bottom:5px;
}
.desc{
    font-weight: 400;
    color:var(--Dark_grayish_blue);
}